* {
    padding: 0;
    margin: 0;
    
    
}

h1 {
    border-style: solid red 1px;
}

h2 {
    color: white;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: initial;
}


header {
    display: flex;

    /*Prueben con estos colores degradados si les gusta alguno*/
    /*background-color: grey;

    background: #131335;
    background: -webkit-linear-gradient(0deg, #131335 0%, #710e10 100%);
    background: linear-gradient(0deg, #131335 0%, #710e10 100%);

    background: #710e10;
    background: -webkit-linear-gradient(0deg, #710e10 0%, #131335 100%);
    background: linear-gradient(0deg, #710e10 0%, #131335 100%);

    background: #710e10;
    background: -webkit-radial-gradient(circle, #710e10 0%, #131335 100%);
    background: radial-gradient(circle, #710e10 0%, #131335 100%);*/

    background: #131335;
    background: -webkit-radial-gradient(circle, #131335 0%, #710e10 100%);
    background: radial-gradient(circle, #131335 0%, #710e10 100%);

    align-items: center;
    /*este centra en eje vertical (y) tambien solo para flex*/
    justify-content: center;
    /*justify content:center centra en eje (x). solo para display flex*/
}

.logo-formula {
    transform: scale(0.6);

}

body {
    background-color: #131335;
}

.container-logo {
    border-radius: 20%;
    border: solid black 2px;
}

.card-equipo {
    border: solid 1px;
    width: 640px;

    /*Separa los contenedores los unos de los otros*/
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;

    position: relative;
    border-radius: 2.0em;
    padding: 2em;
    transition: transform 0.4s ease;
    overflow: hidden;
    background-color: var(--team-color);
    background-size: cover;
}

.barra-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.container-logo-equipo{
    padding: 5px;
    border-radius: 50%;
    border: solid 2px white;
}


.auto-equipo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.auto-equipo:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease;
}



.lista-equipos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}